@font-face {  
  font-family: 'Harmony-Regular';
  src: url('../fonts/Harmony-Regular.ttf');
}
@font-face {
  font-family: 'Harmony-SemiBold';
  src: url(../fonts/Harmony-SemiBold.ttf);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Harmony-Regular',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: #fbfbfb;

  &.is-component {
    overflow: hidden;
  }
}

#app {
  height: 100%;
  
  &.is-component {
    overflow-y: hidden;

    .main-cnt {
      padding: 0;
      margin-top: 0;
      height: 100%;
      min-height: auto;
    }

    .headerWrapper {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1500;
      
      .container {
        padding: 0;
      }
    }
  }
}

a {
  color: #409EFF;
  text-decoration: none;
}

code {
  background-color: #f9fafc;
  padding: 0 4px;
  border: 1px solid #eaeefb;
  border-radius: 4px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hljs {
  line-height: 2.2;
  font-family: 'Harmony-Regular', Monaco, Consolas, Courier, monospace;
  font-size: 14px;
  color: #8f859b;
  background-color: #ececf5;
  border-radius: 8px;
  margin-bottom: 25px;
  -webkit-font-smoothing: auto;
  margin-left: 20px;
}

.main-cnt {
  margin-top: -80px;
  padding: 80px 0 340px;
  box-sizing: border-box;
  min-height: 100%;
}

.container,
.page-container {
  width: 1140px;
  padding: 0;
  margin: 0 auto;
}
.content {
  background-color: #f8f9fb;
  min-height: 460px;
  padding: 40px 40px 100px;
  display: block;
  border-radius: 16px;
  box-shadow: inset 4px 4px 25px 5px rgb(36 20 119 / 10%);
  }
.page-container {
  padding-top: 55px;

  h1{
    font-size: 26px;
    color: #5d3da0;
  }

  h2 {
    font-size: 25px;
    color: #5d3da0 !important;
    margin: 0;
    float: left;
    margin-right: 20px;
  }
  h3 {
    font-size: 20px;
    color: #8f859b;
  }
  h3::before{
    content: '';
    display:inline-block;
    width:6px;
    height:6px;
    margin-right:10px;
    background: #ccc5d9;
    position: relative;
    border-radius: 50%;
  }
  h2,h3{
    font-family: 'Harmony-SemiBold', Arial, Helvetica, sans-serif;
  }
  h2, h3, h4, h5 {

    &:hover a {
      opacity: .4;
    }

    a {
      float: left;
      margin-left: -20px;
      opacity: 0;
      cursor: pointer;
      display: none;

      &:hover {
        opacity: .4;
      }
    }
  }

  p {
    font-size: 14.42px;
    color: #8f859b;
    line-height: 1.5em;
    margin-left: 20px;
  }

  .tip {
    padding: 8px 16px;
    background-color: #ECF8FF;
    border-radius: 4px;
    border-left: #50bfff 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, .7);
      color: #445368;
    }
  }

  .warning {
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: #FE6C6F 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, .7);
      color: #445368;
    }
  }
  .normalbutton{
    position: relative;
  }
  .activebutton{
    position: relative;
  }
  .newproject_btn{
    height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    padding: 0 35px;
  }
  .el-button.linearGradient{
    background-image: linear-gradient(127deg, #54aaf3, #53dabd);
    border: none;
  }
  .el-button.linearGradientActive{
    background-image: linear-gradient(127deg, #60a9e7, #4cc1a8);
    border: none;
  }
  .el-button.linearGradient span{
    position: relative;
    z-index: 2;
  }
  .el-button.linearGradientActive span{
    position: relative;
    z-index: 2;
  }
  .el-button.linearGradient::after {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    left: 10px;
    bottom: -10px;
    background: inherit;
    filter: blur(0.65rem);
    opacity: 0.7;
    z-index: 1;
  }
  .el-button.linearGradientActive::after {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    left: 10px;
    bottom: -10px;
    background: inherit;
    filter: blur(0.65rem);
    opacity: 0.7;
    z-index: 1;
  }
  .el-button:focus, .el-button:hover{
    color: #fff;
  }
}

@media (max-width: 768px) {
  #app.is-component .headerWrapper .container {
    padding: 0 12px;
  }
  .container, .page-container {
    padding: 0 20px;
  }
}

@media (max-width: 1140px) {
  .container, .page-container {
    width: 100%;
  }
}
